test:1.1:
  image: docker:latest 
  variables:
    DOCKER_DRIVER: overlay
  services:
  - docker:dind
  before_script:
  - docker info
  stage: build
  only:
  - master
  script:
    - docker login registry.gitlab.com -u nidra.sarath@gmail.com -p $gitlab_personal_token
    - docker build -t registry.gitlab.com/nidra.sarath/hubot .
    - docker push registry.gitlab.com/nidra.sarath/hubot

